<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Arcana{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%- if !context.allow_indexing %}
    <meta name="robots" content="noindex" />
    {%- endif %}

    <link rel="icon" href="/_continuwuity/resources/favicon.ico" sizes="any">
    <link rel="icon" href="/_continuwuity/resources/logo.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/_continuwuity/resources/apple-touch-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Unbounded:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/_continuwuity/resources/common.css">
    <link rel="stylesheet" href="/_continuwuity/resources/components.css">
    {% block head %}{% endblock %}
</head>

<body>
    <main>{%~ block content %}{% endblock ~%}</main>
    {%~ block footer ~%}
        <footer>
            <img class="logo" src="/_continuwuity/resources/logo.svg" alt="Arcana">
            <p>Arcana {{ env!("CARGO_PKG_VERSION") }}
                {%~ if let Some(version_info) = conduwuit_build_metadata::version_tag() ~%}
                    {%~ if let Some(url) = conduwuit_build_metadata::GIT_REMOTE_COMMIT_URL.or(conduwuit_build_metadata::GIT_REMOTE_WEB_URL) ~%}
                        (<a href="{{ url }}">{{ version_info }}</a>)
                    {%~ else ~%}
                        ({{ version_info }})
                    {%~ endif ~%}
                {%~ endif ~%}</p>
        </footer>
    {%~ endblock ~%}
</body>

</html>
